/*Global*/

body {
  background: #EEE;
}

hr {
	border-top-color: #CCCCCC;
	margin-bottom: 40px;
}

blockquote {
    border-left: 5px solid #F67D1D;
}

@media only screen and (max-width : 1090px) {
  .seriously {
  	visibility: hidden;
  }
}

.btn-success {
  background-color: #F67D1D;
}
.label-success {
  background-color: #F67D1D;
}

.btn-success:hover {
  background-color: #F67D1D;
}

.btn-success.disabled:hover {
  background-color: #F67D1D;
}

.bottom-whitespace {
  height: 100px;
  width: 100%;
}

/* --- Scrollbar --- */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: grey;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #C1C1C1;
}
/* --- Scrollbar --- */

.logo-font {
	font-family: 'Lobster', cursive;
	color: #F67D1D !important;
}

.logo-font-dark {
	font-family: 'Lobster', cursive;
	color: #333 !important;
}

.logo-font-white {
	font-family: 'Lobster', cursive;
	color: white !important;
	font-size: 40px;
}

.list-clean {
	list-style: none;
	padding-left: 0px;
}

input[type="radio"]:checked:after, .radio input[type="radio"]:checked:after, .radio-inline input[type="radio"]:checked:after {
    border-color: #F67D1D;
}

input[type="radio"]:before, .radio input[type="radio"]:before, .radio-inline input[type="radio"]:before {
    background-color: #F67D1D;
}

input[type="checkbox"]:checked:after, .checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #F67D1D;
    border-color: #F67D1D;
}

input[type="checkbox"]:focus:after, .checkbox input[type="checkbox"]:focus:after, .checkbox-inline input[type="checkbox"]:focus:after {
    border-color: #F67D1D;
}

.button-link {
	color: #F67D1D;
}

.button-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #333;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #272822;
}

.table-striped>tbody>tr>td {
	border-style: none;
}

.table-striped>thead>tr {
	background-color: #EEE;
}
.table-striped>thead>tr>th {
	border-style: none;
}

/*Navbar*/

.navbar-inverse {
	background-color: #333333;
}

.navbar-inverse {
	color: white;
}

.navbar-brand:hover {
	cursor: pointer;
}

.navbar-orgname {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.navbar-orgimg {
  width: 100px;
  margin-top: 20px;
}


.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li:hover {
	background-color: #272822;
}

.general-nav {
	margin-bottom: 0px;
	border-radius: 0px;
}

.learningroom-nav {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: grey;
	border-radius: 0px;
}

.section {
  width: 100%;
  padding-bottom: 100px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #F67D1D;
}

.seriously {
	position: absolute;
	width: 300px;
	top: 20px;
	right: -320px;
}

/*Enums*/

.GREEN {
  background-color: #F67D1D;
}

.DARK {
	background-color: #333 !important;
}

.LIGHT {
	background-color: #EEE !important;
}


.GREEN-TEXT {
	color: #F67D1D;
}

.DARK-TEXT {
	color: #333;
}

.GREEN-TEXT:hover {
	color: #F67D1D;
}

.BEIGE-TEXT {
  color: #E0E0E0;
}

.WHITE-TEXT {
	color: #EEE;
}

.LIGHT-FONT {
	font-weight: lighter;
}
.BOLD-FONT {
	font-weight: bolder;
}

.DANGER {
	color: #e51c23;
}

.SUCCESS {
	color: #F67D1D;
}

.GOLD {
	color: #FFD700;
}

.CENTER-TEXT {
	text-align: center;
}

.other-client-selection-9bff80 {
	background-color: #467047 !important;
	border-left: 2px solid #467047 !important;
}

#form-error h6{
	color: #FFF;
}

.TOP-MARGIN-20 {
	margin-top: 20px;
}

.ask-questions-form {
	background-color: #F67D1D;
	padding: 30px;
	border-radius: 25px;
	border-width: 3px;

}

.dark-table {
	background-color: #333;

}

/*Signup*/

.errMsg {
	margin-left: 55px;
}

.tutorLabel {
	margin-right: 20px;
	vertical-align: text-top;
}

.inputMargin {
  width: calc(100% - 55px) !important;
}

/*Give help*/


.give-help-select {
	width: 150px;
}

.no-students-in-need {
	text-align: center;
	margin-top: 100px;
	color: #F67D1D;
}

.topics-li {
	margin-left: 8px;
}

.give-help-sidenav-top {
	background-color: #eee;
	padding: 16px;
}

.give-help-sidebar {
	margin-top: 36px;
}

.give-help-sidenav {
	background-color: #333;
	color: #EEE;
	margin: 0px;
	border-top-style: none;
	border-bottom-width: 1px;
	border-color: grey;
	padding: 25px;
}

.badge {
	background-color: #F67D1D;
}

.give-help-sidenav-active {
	background-color: #F67D1D;
	color: #EEE;
	margin: 0px;
	border-style: none;
	border-width: 1px;
	padding: 25px;
}

.give-help-sidenav:hover {
	background-color: #282A28;
	color: #EEE;
	cursor: pointer;
}

.give-help-tr {
	padding: 15px !important;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*Ask Question*/

.ask-nav-tabs {
	width: 50%;
	text-align: center;
}


.nav-tabs>li>a:hover, .nav-tabs>li>a:focus:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    -webkit-box-shadow: inset 0 -2px 0 #F67D1D;
    box-shadow: inset 0 -2px 0 #F67D1D;
    color: #F67D1D;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #F67D1D;
    box-shadow: inset 0 -2px 0 #F67D1D;
}

.scaling{
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}

@-webkit-keyframes scalex{
    from {-webkit-transform: scale(0.95);}
    65% {-webkit-transform: scale(1.0);}
    to {-webkit-transform: scale(0.95);}
}

@-moz-keyframes scale{
    from {-moz-transform: scale(0.95);}
    65% {-moz-transform: scale(1.0);}
    to {-moz-transform: scale(0.95);}
}

/*Recent Questions*/

.recent-question-scrollframe {
	max-height: 400px;
	overflow: scroll;
	overflow-x: auto;
	overflow-y: auto;
}

.recent-question-text p{
  width: 250px;
}

/*About*/

.green-heart {
  color: #F67D1D;
}

.fists {
  width: 100px;
  position: absolute;
  margin-left: 219px;
  margin-top: 138px;
}

.code-badge {
  width: 60px;
  background-color: #eee;
  padding: 10px;
  position: absolute;
  margin-top: -72px;
  margin-left: 235px;
}

.paragraphLogo {
  width: 120px;
}

/*Profile*/

.change-password-alert {
  width: 350px;
  margin-top: 20px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.profile-username-list {
  width: 50%;
  vertical-align: middle;
  margin-left: 15px;
}
