/*Global*/

body {
  background: #EEE;
}

.logo-font {
	font-family: 'Lobster', cursive;
	color: #4caf50 !important;
}

/*Navbar*/

.navbar-inverse {
	background-color: #333333;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: grey;
}
