/*Global*/

body {
  background: #EEE;
}

/*Navbar*/

.navbar-inverse {
	background-color: #333333;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: grey;
}
