.learningroom-container {
	background-color: #272822;
	height: calc(100vh - 65px);
}

.learningroom-container div ul {
	margin-bottom: 0px;
	margin-top: 20px;
}

.learningroom-container .col-xs-8 {
	padding-left: 0px;
}

.learningroom-modal {
	background-color: #333;
	text-align: center;
}

.learningroom-modal-footer {
	text-align: center;
}

.video-position {
	position: fixed;
	right: 0;
	padding-top: 15px;
}

.video-position .panel{
    margin-bottom: 0px;
}

.video-position .panel-heading {
	color: white;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.video-position .panel-heading h5{
	color: white;
}

.video-position .panel-default>.panel-heading {
	background-color: #333333;
	color: white;
}

.leave-room-btn {
	height: 64px;
	border-radius: 0px;
}

.time-count {
	float: right;
}

.navbar-logo {
	width: 150px;
	position: relative;
	top: -5px;
}

/*Counter*/

.counter {
	padding-bottom: 0px !important;
	padding-top: 7px !important;
}

/*Code Editor*/

#firepad-container {
	height: calc(100vh - 140px);
	width: 100%;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: grey;
}

/*Video Room*/

.video-room {
	-webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.3);
	box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/*WaitForVideo*/

.waiting-room {
	background-color: #333;
}

.waiting-room h3{
	color: #EEE;
}

.waiting-room i{
	color: #EEE;
}

/*Chat Room*/

.chat-room {
	width: 100%;
	height: calc(100vh - 525px);
	margin-top: 20px;
	background-color: #272822;
	padding: 17px;
}

.chat-message-box {
	height: calc(100vh - 625px);
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom-style: solid;
	border-bottom-color: grey;
	border-bottom-width: 1px;	
	border-top-style: solid;
	border-top-color: grey;
	border-top-width: 1px;
	padding-bottom: 20px;
}

.message-align-left {
	text-align: left;
}
.message-align-right {
	text-align: right;
}

.chat-form {
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
}

.chat-input {
	height: 40px;
	width: 300px;
	border-radius: 5px !important;
	padding-left: 10px !important;
	background-color: #EEE;
}

.chat-submit-button {
	background-color: #333 !important;
	border-color: #B1B1B1;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	height: 40px;
	vertical-align: top;
	margin-left: 10px;
	box-shadow: none;
}

.chat-span {
	font-size: 16px;
	border-color: #666;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 0px 10px 0px 10px;
	max-width: 200px;
}

.chat-label {
	vertical-align: top;
	color: #666;
}
