@media only screen and (max-width : 1200px) {
  .chat-input {
  	width: 200px !important;
  }
}

.learningroom-container {
	background-color: #272822;
	height: calc(100vh - 65px);
}

.learningroom-container div ul {
	margin-bottom: 0px;
	margin-top: 10px;
}

.learningroom-container .col-xs-8 {
	padding-left: 0px;
}

.learningroom-modal {
	background-color: #333;
	text-align: center;
}

.learningroom-modal-footer {
	text-align: center;
}

.video-position {
	position: fixed;
	right: 0;
	padding-top: 15px;
}

.video-position .panel{
    margin-bottom: 0px;
}

.video-position .panel-heading {
	color: white;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.video-position .panel-heading h5{
	color: white;
}

.video-position .panel-default>.panel-heading {
	background-color: #333333;
	color: white;
}

.leave-room-btn {
	height: 64px;
	border-radius: 0px;
}

.time-count {
	float: right;
}

.navbar-logo {
	width: 150px;
	position: relative;
	top: -5px;
}

.closed-question {
	margin-top: 100px;
	text-align: center;
}

.closed-question-button {
	border-style: solid;
	padding: 5px;
	color: #4CAF50;
}

/*Counter*/

.counter {
	padding-bottom: 0px !important;
	padding-top: 7px !important;
}

/*Code Editor*/

#firepad-container {
	height: calc(100vh - 140px);
	width: 100%;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: grey;
}

/*Video Room*/

.video-room {
	-webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.3);
	box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.minimized {
	background-color: #333;
	width: 100%;
	cursor: pointer;
	padding: 1px;
	padding-left: 20px;
	padding-right: 20px;
}

.minimized:hover {
	text-decoration: underline;
}

/*WaitForVideo*/

.waiting-room {
	background-color: #333;
}

.waiting-room h3{
	color: #EEE;
}

.waiting-room i{
	color: #EEE;
}

/*Chat Room*/

.chat-room {
	width: 100%;
	height: calc(100vh - 530px);
	margin-top: 20px;
	background-color: #272822;
	padding: 17px;
}

.chat-message-box {
	height: calc(100vh - 630px);
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom-style: solid;
	border-bottom-color: grey;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-color: grey;
	border-top-width: 1px;
	padding-bottom: 20px;
}

.chat-room-min {
  width: 395px;
  position: fixed;
  bottom: 0;
  height: 500px;
  background-color: #333;
  border-style: solid;
  border-width: 1px;
  padding: 0px 17px 0px 17px;
  z-index: 999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 5px -5px 25px #141412;
}

.chat-min-closed {
  width: 395px;
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: #333;
  border-style: solid;
  border-width: 1px;
  z-index: 999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 5px -5px 25px #141412;
}

.chat-message-box-min {
	height: 375px;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom-style: solid;
	border-bottom-color: grey;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-color: grey;
	border-top-width: 1px;
	padding-bottom: 20px;
}

.message-align-left {
	text-align: left;
}
.message-align-right {
	text-align: right;
}

.chat-form {
	position: absolute;
	bottom: 0;
	margin-bottom: 15px;
}

.chat-input {
	height: 40px;
	width: 300px;
	border-radius: 5px !important;
	padding-left: 10px !important;
	background-color: #EEE;
}

.chat-submit-button {
	background-color: #333 !important;
	border-color: #B1B1B1;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	height: 40px;
	vertical-align: top;
	margin-left: 10px;
	box-shadow: none;
}

.chat-span {
	font-size: 16px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 0px 10px 0px 10px;
	max-width: 250px;
	word-wrap: break-word;
}

.msg-left {
  border-color: #4CAF50;
}
.msg-right {
  border-color: #666;
}

.chat-label {
	vertical-align: top;
	color: #666;
}
